body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.is-main-column {
  background-image: url("../images/AdobeStock_151000204.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: .5em; 
}

.vertical-align {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}
.steps {
  width: 100%;
}

.image-column {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.columns {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 90%;
}

.section {
  padding-top: 1.5em;
}

.steps {
  padding-top: 1.5em;
}

.is-selected {
  background-color: #29f571;
}

.field-label {
  text-align: left;
}

.medium-column {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 768px) {

  .container {
    display: block;
  }

  .column {
    padding-top: 0;
    
  }

  .column:not(:last-child) {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {

  .medium-column:not(:last-child) {
    margin-right: 1em;
  }
}


